[submodule "themes/kr-dream"]
	path = themes/kr-dream
	url = https://github.com/KleinReveche/hugo-theme-dream.git
[submodule "themes/showcase"]
	path = themes/showcase
	url = https://github.com/apvarun/showcase-hugo-theme.git
