[submodule "themes/kr-dream"]
	path = themes/kr-dream
	url = https://github.com/KleinReveche/hugo-theme-dream.git
[submodule "themes/dot"]
	path = themes/dot
	url = https://github.com/gethugothemes/dot-hugo-documentation-theme.git
