<nav>
    <label for="drop" class="toggle"><i class="fas fa-bars u-pull-right" aria-hidden="true"></i> <span>
            Klein Reveche</span></label>
    <input type="checkbox" id="drop" />
    <ul class="menu">
        <li class="u-pull-left" aria-hidden="false">
            <a href="/" class="Members">
                <span>Klein Reveche</span>
            </a>
        </li>
        {{ range .Site.Menus.nav }}
        <li class="u-pull-right">
            <a href="{{ .URL | absLangURL }}" class="Members">
                <span>{{ .Pre }} {{ .Name }}</span>
            </a>
        </li>
        {{ end }}
    </ul>
</nav>